@import '../Styles/Variables.scss';

.pancakeContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


    h1 {
        font-family: $mainFont;
        font-size: 4rem;
        margin-top: 30vw;


    }

    button {
        @include buttonStyle(#11a8aa, clamp(3ch, 4vw, 12ch));
    }
}